<aside
  class="w-64 shrink-0 h-full bg-card-dark p-4 flex-col justify-between hidden sm:flex border-r border-border-dark"
>
  <div class="flex flex-col gap-8">
    <a routerLink="/dashboard" class="flex items-center gap-2 p-2">
      <div class="size-8 text-primary">
        <svg fill="none" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
          <path d="M44 4H30.6666V17.3334H17.3334V30.6666H4V44H44V4Z" fill="currentColor"></path>
        </svg>
      </div>
      <h1 class="text-text-dark-primary text-xl font-bold">HabitFlow</h1>
    </a>
    <nav class="flex flex-col gap-2">
      @for(link of navLinks(); track link.path) {
      <a
        [routerLink]="link.path"
        routerLinkActive="bg-border-dark"
        [routerLinkActiveOptions]="{ exact: true }"
        class="flex items-center gap-3 px-3 py-2 rounded-lg hover:bg-border-dark/50 transition-colors"
      >
        <span class="material-symbols-outlined text-text-dark-primary">{{ link.icon }}</span>
        <p class="text-text-dark-primary text-sm font-medium leading-normal">{{ link.name }}</p>
      </a>
      }
    </nav>
  </div>
  <div class="flex flex-col gap-4">
    <a
      routerLink="/habit/new"
      class="flex w-full cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 bg-primary text-card-dark text-sm font-bold leading-normal tracking-[0.015em] hover:opacity-90 transition-opacity"
    >
      <span class="truncate">Add New Habit</span>
    </a>

    <a routerLink="/profile" class="flex gap-3 border-t border-solid border-border-dark pt-4">
      <div
        class="bg-center bg-no-repeat aspect-square bg-cover rounded-full size-10"
        style="background-image: url('https://picsum.photos/id/237/100/100')"
      ></div>
      <div class="flex flex-col">
        <h1 class="text-text-dark-primary text-base font-medium leading-normal">Alex Doe</h1>
        <p class="text-text-dark-secondary text-sm font-normal leading-normal">
          alex.doe@email.com
        </p>
      </div>
    </a>
  </div>
</aside>
